<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>#</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    

    <!-- Bootstrap core CSS -->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>  
  
  <!-- TOP画像ー-->
  <main>
  <section class="py-5 text-center container top">
    <div class="row py-lg-5 ">
      <div class="col-lg-6 col-md-8 mx-auto ">
        <h1 class="fw-light">title</h1>      
        <%= link_to "Post a photo", new_tweet_path, class: "btn btn-outline-secondary mt-4" %> 
     <!-- 検索ボタンー-->    
      <div class="align mt-3">
        <div class="grid">
        <form action="" method="get" class="search">
        <div class="form__field">
          <input type="search" name="search" placeholder="What are you looking for?" class="form__input">
          <input type="submit" value="Search" class="button">
        </div>
        </form>
        </div>
      </div>
     <!-- 検索ボタンー-->
      </div>
    </div>
  </section>
  <!-- TOP画像ー-->

  <!-- 投稿一覧表示 -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">

      <% @tweets.each do |tweet| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= link_to image_tag(tweet.image, class: 'img-fluid'), tweet_path(tweet.id) %>          
              <%="by #{tweet.user.nickname}"%> 
          </div> 
        </div>  
      <% end %>

      </div>
    </div>
  </div>
  </main>
  <!-- 投稿一覧表示 -->

  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
      
  </body>
</html>